/* General Styles */
body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

/* Header/Nav section (Mobile) */
.nav-container {
  background: #9adbdb;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header ul {
  display: flex;
}

.nav-container a {
  color: #111;
}

header nav ul li a:hover {
  opacity: 0.6;
}

header .logo {
  color: #111;
  font-weight: bold;
}

header nav ul a {
  display: block;
  padding: 0 1em;
}

/* Social Media Links */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-header {
  display: none;
}

/* Header/Nav section (Desktop) */
@media only screen and (min-width: 800px) {
  .nav-container {
    display: grid;
    grid-template-columns: 62% auto;
  }

  .nav-container header {
    background: #9adbdb;
  }

  header {
    padding: 2em 2em 2em 4em;
  }

  .social-header {
    display: block;
    padding: 2em 4em 2em 2em;
  }

  .social-header ul {
    display: flex;
    justify-content: space-between;
    width: 12em;
    float: right;
  }
}

@media all and (min-width: 700px) {
  html {
    height: 100%;
  }
  body {
    text-align: center;
    position: relative;
    height: 100%;
  }
  .form-container {
    display: inline-block;

    width: 50%;
  }
}

/* Contact Form */
body {
  background: #b9dfdf;
}
input[type='text'],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
  padding: 20px;
  margin: 40px;
  text-align: left;
  background: #9adbdb;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

/* Contact Form Button */
input[type='submit'] {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  background-color: #4eb5f1;
  letter-spacing: 0.1em;
  border: none;
}

input[type='submit']:hover {
  background-color: #4095c6;
}

/* Footer Section */
.footer {
  position: absolute;
  background: #111;
  text-align: center;
  padding: 2.5em 0;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #2ebbbb;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer a:hover {
  opacity: 0.75;
}

.footer-link {
  font-weight: bold;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}
